<a href="https://colab.research.google.com/github/RiyaNishad/datasciencepracticles/blob/main/ailab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Performing arithmatic operations by taking user input***

In [4]:
A = int(input("enter the value of A:"))
B = int(input("enter the value of B:"))
print("addition of A and B is:",A+B)
print("subtraction of A and B is:",A-B)
print("multiplication of A and B is:",A*B)
print("division of A and B is:",A/B)

enter the value of A:5
enter the value of B:10
addition of A and B is: 15
subtraction of A and B is: -5
multiplication of A and B is: 50
division of A and B is: 0.5

***calculating average***

In [6]:
R = (1,5,16,15,78)
average = sum(R)/len(R)
print("average of R is:",average)

average of R is: 23.0

***checking if the number is even or odd by defining a function.***

In [15]:
def even_odd (number):
    A = int(input("enter the value of A:"))
    if A%2==0:
        print("A is even")
    else:
        print("A is odd")
        print("A is:",A)
even_odd(A)

enter the value of A:67
A is odd
A is: 67

***calculating factorial.***

In [25]:
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers."
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    return factorial

# Get user input
num = int(input("Enter a number to calculate its factorial: "))
result = factorial(num)
print(f"The factorial of {num} is: {result}")

Enter a number to calculate its factorial: 4
The factorial of 4 is: 24

***calculating factorial by recursive method***.

In [28]:
def factorial_recursive(n):
    if n < 0:
        return "Factorial is not defined for negative numbers."
    if n == 0 or n == 1:
        return 1
    return n * factorial_recursive(n - 1)

#taking user input
num = int(input("Enter a number to calculate its factorial: "))
result = factorial_recursive(num)
print(f"The factorial of {num} is: {result}")

Enter a number to calculate its factorial: 25
The factorial of 25 is: 15511210043330985984000000